.jumbotron {
    background: #000000;
    color: white;
    padding-bottom: 30px
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7
}
.jumbotron .btn-primary:hover {
    background: #7646c1
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em
}
.navbar+.jumbotron {
    margin-top: -20px
}
.jumbotron .lang-logo {
    display: block;
    background: #b01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white
}
.jumbotron .lang-logo img {
    max-width: 100%
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding: 20px 0;
    }
}

.reverse {
    unicode-bidi:bidi-override;
    direction:rtl;
}

section {
    margin-bottom: 30px;
}
