<!DOCTYPE html>
<html>
<head>
<title>Imbellus Code Test</title>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
  <script type="text/babel" src="/static/scripts/app.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://bitbucket.org/efosa/pytest/src/master/" target="_blank"><span class="glyphicon glyphicon-file"></span> Test Repo</a>
      </li>
      <li>
        <a href="https://coinbaan.com" target="_blank"><span class="glyphicon glyphicon-user"></span> Coinbaan.com</a>
      </li>
      <li>
        <a href="https://bitbucket.org/starwarz/coinbaan-website/src/master/" target="_blank"><span class="glyphicon glyphicon-file"></span> Coinbaan.com Source Code</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>