{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'images/fish1.jpeg'%}">
    </a>
    <h1>IMB - Code Test</h1>
  </div>
</div>

<div class="container">
  <div class="alert alert-info" role="alert">
    Efosa Oyegun / efosao@gmail.com / <span class="reverse">9104-532-762</span>
  </div>
  <div id="root"></div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Internal API Endpoints</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Purpose</th>
            <th>Endpoint</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Get Geocode (from addr)</td>
            <td><a href="/api/locbyaddr" target="_blank">/api/geocode</a></td>
          </tr>
          <tr>
            <td>Get Reverse Geocode (from lat/long)</td>
            <td><a href="/api/locbygeocode" target="_blank">/api/revgeocode</a></td>
          </tr>
          <tr>
            <td>Get Reverse Geocode (from lat/long)</td>
            <td><a href="/api/distance" target="_blank">/api/distance</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}